*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo';
    scrollbar-color: rgb(37, 37, 37); 
    scrollbar-width: thin;
    scroll-snap-type: none;
}

:root {
    --fontCard-primary:"Nunito Sans", sans serif
}


.mainContainer
{
    margin-top: 30px;
    width: 100%;
    display:grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit ,minmax(340px,1.5rem));
    grid-template-rows: auto;
    gap: 40px;
    align-items: center;
    padding: 0 10rem;
    background-color: #ffffff; 


}

.mainContainer .box
{
   
    text-align: center;
    transition: .3s ease-in-out;
    margin-top: 5%;
  
}



.mainContainer .card {
    padding:5px 15px 0;
    border: none;


}

.card .image
{
    display: flex;
    justify-content: center;   
    align-items: center;
    margin: 10px auto 25px;
    position: relative;
    transition: display ease 300ms ;
    
}


.card-active {
    display: "flex";
}

.card-desactive {
    display: none;

}

.card .image:before
{
    content:"";
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 8px;
    left: 10px;
    border-radius: 50%;

}
.card .image img
{
    aspect-ratio: 4/3;
    width: 100%;
    height: 400px;
    transition: .3s ease-in-out;
    background-color: #ebdecf;
}


.card .desc
{
    width:80%;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
}


.title-card{
    font-family: var(--fontCard-primary);
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #ffffff;
}

.price-card{
    font-family: var(--fontCard-primary);
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #ffffff;
}

.card .desc p
{
    font-size: 14px;
    margin: 10px 0 20px;
}




